.banner-big{
    
    background-image: linear-gradient(to bottom right, #787FF6, #7BD5F5);
    margin-top: 73px;
    height: 50vh;
    text-align: center;
    color: #fff;
    padding: 110px;

    

    
}

.banner-items  p{
    padding: 12px 0;
}

